// Navigation Styles here


header{
    margin-top: 50px;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    display: flex    
}
header nav{
    margin-left: 0px;
    width: 620px;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    @media @mobile{
        justify-content: center;
            } 
}
header nav a{
    text-decoration: none;
    padding-left: 15px;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    

}